<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Portal Estudiantes</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous" />

</head>
<body>
	
	<header th:replace="/layout/layout :: header"></header>
	<h1 class="text-center">¡Portal Estudiantes!</h1>

	<div class="container">
		<h2>Lista</h2>
		<hr>
		<div ui-view></div>
		<sec:authorize access="hasRole('ROLE_ADMIN')">
			<a th:href="@{/addStudent}" class="btn btn-primary mb-2">Añadir
				estudiante</a>
		</sec:authorize>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th sec:authorize="hasRole('ROLE_USER')">ID</th>
					<th>Nombre</th>
					<th>Grado</th>
					<th>Correo</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student:${students}">
					<td sec:authorize="hasRole('ROLE_USER')"
						th:text="${student.studentid}"></td>
					<td th:text="${student.studentname}"></td>
					<td th:text="${student.studentgrade}"></td>
					<td th:text="${student.studentemail}"></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')"><a
						sec:authorize="hasRole('ROLE_ADMIN')"
						th:href="@{/updateStudentForm(id=${student.studentid})}"
						class="btn btn-info">Editar</a> <a
						sec:authorize="hasRole('ROLE_ADMIN')"
						th:href="@{/deleteStudent(id=${student.studentid})}"
						class="btn btn-danger ml-2">Borrar</a></td>
				</tr>
			</tbody>
		</table>
		<div ng-app="portal">
			<div ng-controller="indexController">
			<table>
				<thead>
					<tr>
						<th scope="col">Nombre</th>
						<th scope="col">Grado</th>
						<th scope="col">Email</th>
					</tr>
				<tbody>
					<tr ng-repeat="student in students">
						<td>{{student.studentname}}</td>
						<td>{{student.studentgrade}}</td>
						<td>{{student.studentemail}}</td>
					</tr>
				</tbody>
				</thead>
			</table>
			</div>
		</div>
	</div>
	<footer th:replace="/layout/layout :: footer"></footer>
	<script src="/colegio/api/resources/public/pages/index.js"></script>
</body>
</html>