<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portal.dao.StudentMapper">

    <select id="getAllStudentsDb" statementType="CALLABLE"  parameterType="java.util.Map">
        {call api_ge_allstudents(
                        #{p_cod_rpta,       jdbcType=VARCHAR, javaType=java.lang.String,  mode=OUT},
                        #{p_student,        jdbcType=VARCHAR, javaType=java.lang.String,  mode=OUT, typeHandler=com.portal.persistence.handler.HandlerStudentJson} 
                        
         )
        }
    </select>
    <select id="findAll" resultType="Student">
        SELECT *
		FROM student
    </select>
    
    <select id="getStudent" parameterType="int" resultType="Student">
	  SELECT * FROM student WHERE studentid = #{studentid}
	</select>
	
	<insert id="insertStudent" useGeneratedKeys="true"
	    keyProperty="id" parameterType="Student">
	  insert into student (studentname,studentgrade,studentemail)
	  values (#{studentname},#{studentgrade},#{studentemail});
	</insert>
	
	<update id="updateStudent">
	  update student set
	    studentname = #{studentname},
	    studentgrade = #{studentgrade},
	    studentemail = #{studentemail}
	  where studentid = #{studentid}
	</update>
	
	<delete id="deleteStudent" parameterType="int">
	  delete from student where studentid = #{studentid}
	</delete>
	
</mapper>